.classpath
.project
.war
.zip
.rar
.tar.gz
.idea
*.iml
/**/build/apps/*
/**/build/libs/*
logs/*
logs/yf-exam-lite/spring.log
target/*
target
/src/main/webapp/WEB-INF/classes/*
/**/src/main/resources/static/doc/*
model/.version_*
model/.back_*
.gitignore