<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.OrdersMapper">

    <sql id="Base_Column_List">
        id,order_no,table_num,pay_time,status,business_id,phone,user_id,amount,discount,actual,comment,cover,name
    </sql>

    <select id="selectAll" resultType="com.example.entity.Orders">
        select
        orders.*, business.name as businessName, user.name as userName, comment.id as commentId
        from orders
        left join business
        on orders.business_id = business.id
        left join user
        on orders.user_id = user.id
        left join comment
        on orders.id = comment.order_id
        <where>
            <if test="orderNo != null">and orders.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="businessId != null">and orders.business_id = #{businessId}</if>
            <if test="userId != null">and orders.user_id = #{userId}</if>
            <if test="commentId != null">and orders.id = #{commentId}</if>
            <choose>
                <when test="status == '全部'">

                </when>
                <when test="status == '待出餐'">
                    and orders.status = '待出餐'
                </when>
                <when test="status == '已完成'">
                    and (orders.status = '待评价' or orders.status = '已完成')
                </when>
                <when test="status == '已退款'">
                    and orders.status = '已退款'
                </when>
                <when test="status != null">
                    and orders.status = #{ status }
                </when>
            </choose>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Orders">
        select orders.*,
               business.name as businessName,
               user.name     as userName
        from orders
                 left join business
                           on orders.business_id = business.id
                 left join user
                           on orders.user_id = user.id
        where orders.id = #{id}
    </select>
    <select id="countByDay" resultType="com.example.dto.CountByDayResponseDto">
        select a.date as day_time, IFNULL(b.actual,0) as actual
        from
        (
        select (@s:=@s+1) as id,STR_TO_DATE(DATE(DATE_SUB(CURRENT_DATE,interval @s day)),'%Y-%c-%d') as date
        from information_schema.CHARACTER_SETS,(select @s:=0) AS init where @s &lt; 7 order by date
        ) a
        left join
        (
        select DATE_FORMAT(pay_time,'%Y-%m-%d') as time, SUM(actual) as actual, business_id
        from orders
        where business_id = #{businessId} and `status` = '已完成'
        group by time
        ) b
        on a.date = b.time
    </select>

    <delete id="deleteById">
        delete
        from orders
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="tableNum != null">table_num,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="status != null">status,</if>
            <if test="businessId != null">business_id,</if>
            <if test="phone != null">phone,</if>
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="discount != null">discount,</if>
            <if test="actual != null">actual,</if>
            <if test="comment != null">comment,</if>
            <if test="cover != null">cover,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="tableNum != null">#{tableNum},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="status != null">#{status},</if>
            <if test="businessId != null">#{businessId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="discount != null">#{discount},</if>
            <if test="actual != null">#{actual},</if>
            <if test="comment != null">#{comment},</if>
            <if test="cover != null">#{cover},</if>
            <if test="name != null">#{name},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Orders">
        update orders
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="tableNum != null">
                table_num = #{tableNum},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="businessId != null">
                business_id = #{businessId},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
            <if test="actual != null">
                actual = #{actual},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>